{% extends 'base.html.twig' %}
 
{% block title %}Update User{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Update User Record</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('index') }}"> 
                    Back
                </a>
            </div>
            <div class="card-body">
                {% include 'users/_form.html.twig' with {'button_label': 'Update User', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}