{% extends 'base.html.twig' %}
 
{% block title %}Create User{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create New User</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('index') }}"> 
                    Back
                </a>
            </div>
            <div class="card-body">
                {{ include('users/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}